*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    background-color: yellow;
    flex-direction: column;
    gap: 1em;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    margin-bottom: 2em;
}
section{
    display: flex;
    align-items: center;
    background-color: yellow;
    width: 30em; 
    height: 30em;   
    flex-direction: column;        
    margin: 2em auto;
    padding: 8em 10em;
}
#btnSortear{
    width: 6em;
    height: 4em;
    margin-top: 2em;       
}
#btnSortear:hover{
    transition: 1s;
    color: #fff;
    font-weight: 700;
    background-color: #3b4407;
    
}
#resultado{
    justify-content: center;
    background-color: #3b4407;    
    transition: 0.5s;    
    margin-top: 1.4em;
    color: #fff;
    font-size: 1.3em;
    width: 12em;
    margin-left: 1em;
}
#resultado-p{        
    color: #fff;    
    font-size: 5em;
    margin-top: 1em;
}
#entre,#entre2{
    justify-items: center;
    width: 3em;
    height: 2em;
}
